@page "/focus"
@using BQuery
<input @ref="input" />

<div @ref="draggable" style="height: 300px; width: 500px; border: 1px solid #ff0000;">
    <header @ref="dragEle" style="cursor: move; background-color: #efefef; height: 50px;">header</header>
    <div>content</div>
</div>

@code{
    ElementReference input;
    ElementReference draggable;
    ElementReference dragEle;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await input.FocusAsync();
        if (firstRender)
        {
            var dargOptions = new DragOptions()
            {
                DragElement = dragEle
            };
            await draggable.BindDragAsync(dargOptions);
        }
    }
}